@use "../abstracts" as *;

.banner-top {
  background: linear-gradient(45deg, $color-02, $color-01);
  background-size: 400% 400%;
  animation: gradient-rotate 10s ease infinite;
  color: $color-fg-03;
  font-size: $fs-01;
  padding: 2.4rem 0;

  @media screen and (max-width: 672px) {
    font-size: 1.2rem;
  }

  &__container {
    @include container;
    @include flex(null, center, space-between, null);

    @media screen and (max-width: 448px) {
      justify-content: center;
      text-align: center;
    }
  }

  &__source {
    @media screen and (max-width: 448px) {
      display: none;
    }
  }

  &__link {
    font-weight: $fw-700;
    display: inline-block;
    width: max-content;
    position: relative;
    transition: all 200ms ease-out;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 0.2rem;
      bottom: -0.4rem;
      left: 0;
      background-color: $color-fg-03;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

@keyframes gradient-rotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
