@use "../abstracts" as *;

.footer {
  padding: 2.4rem 0;
  color: $color-fg-03;
  background-color: $color-bg-04;

  &__container {
    @include container;
    @include flex(column, null, null, 2.4rem);
  }

  &__logo {
    font-family: $ff-cursive;
    font-size: $fs-03;
    line-height: $leading-01;
  }

  &__nav {
    @include flex(column, null, null, 1.6rem);
  }

  &__link {
    font-size: $fs-01;
    line-height: $leading-01;
    width: fit-content;

    &-flex {
      @include flex(null, center, null, 1.6rem);
    }

    &:hover {
      text-decoration: underline;
      text-underline-position: under;
    }
  }

  @media screen and (min-width: 672px) {
    padding: 4rem 0;

    &__container {
      @include flex(column, center, null, 3.2rem);
    }

    &__logo {
      font-size: $fs-04;
      width: 100%;
      @include flex(column, center, null, 3.2rem);

      &::after {
        content: "";
        width: 100%;
        height: 0.2rem;
        background-color: rgba($color-bg-01, 0.1);
      }
    }

    &__nav {
      width: 100%;
      @include flex(row, null, space-between, null);
    }
  }
}
