@use "../abstracts" as *;

.header {
  position: relative;
  z-index: 1;
  padding: 2.4rem 0;
  box-shadow: $shadow-01;

  &__container {
    @include container;
    @include flex(null, null, center, null);
  }

  &__logo {
    font-family: $ff-cursive;
    font-size: $fs-05;
    line-height: $leading-01;
    color: $color-fg-01;
  }
}
