@use "../abstracts" as *;

.header {
  position: relative;
  z-index: 1;
  padding: 2.4rem 0;
  box-shadow: $shadow-01;

  &__container {
    @include container;
    @include flex(null, center, center, null);
  }

  &__logo {
    font-family: $ff-cursive;
    font-size: $fs-05;
    line-height: $leading-01;
    color: $color-fg-01;
    text-transform: lowercase;
  }

  &__back {
    line-height: 0;
    position: absolute;
    left: 2.4rem;
    transition: $transition;

    &:hover {
      left: 2rem;
    }
  }

  &__icon {
    @include icon(2.4rem);
    fill: $color-fg-02;
  }
}
