.repo-link {
  position: fixed;
  right: 16px;
  bottom: 16px;
  padding: 12px;
  background-color: #0f172a;
  border-radius: 50%;
  z-index: 999;
  transition: transform 150ms ease-in-out;
  transition: 150ms ease-in-out;
  transition-property: transform color;
  line-height: 0;
}

.repo-link svg {
  width: 24px;
  aspect-ratio: 1 / 1;
  fill: #f1f5f9;
}

.repo-link:hover {
  background-color: #3b82f6;
  transform: translateY(-4px);
}
