@use "variables" as *;

// Container
@mixin container {
  max-width: 73rem;
  width: calc(100% - (2.4rem * 2));
  margin-inline: auto;
}

// Flexbox
@mixin flex($direction, $align, $justify, $gap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

// Grid
@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, minmax(0, 1fr));
  gap: $gap;
}

// Icon
@mixin icon($size: 1.6rem) {
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
  fill: currentColor;
}
