// Colors
$color-fg-01: #101010;
$color-fg-02: #353535;
$color-fg-03: #ffffff;
$color-bg-01: #ffffff;
$color-bg-02: #f6f6f6;
$color-bg-03: #eaeaea;
$color-bg-04: #353535;
$color-01: #9356dc;
$color-02: #ff79da;
$color-03: #99e2d0;

// Fonts families
$ff-sans: "Roboto", sans-serif;
$ff-cursive: "Shrikhand", cursive;

// Fonts weight
$fw-400: 400;
$fw-700: 700;

// Fonts size
$fs-01: 1.4rem;
$fs-02: 1.6rem;
$fs-03: 1.8rem;
$fs-04: 2.4rem;
$fs-05: 3rem;

// Line height
$leading-01: 1;
$leading-02: 1.25;
$leading-03: 1.5;

// Shadows
$shadow-01: 0 4px 6px -1px rgb(0 0 0 / 0.15), 0 2px 4px -2px rgb(0 0 0 / 0.15);
$shadow-02: 0 10px 15px -3px rgb(0 0 0 / 0.15), 0 4px 6px -4px rgb(0 0 0 / 0.15);

// Transition
$transition: all 200ms ease-in-out;
