// Colors
$color-smoky-black: #101010;
$color-jet: #353535;
$color-white: #ffffff;
$color-cultured: #f6f6f6;
$color-platinum: #eaeaea;
$color-amethyst: #9356dc;
$color-rose-pink: #ff79da;
$color-middle-blue-green: #99e2d0;

// Fonts families
$ff-sans-serif: "Roboto", sans-serif;
$ff-cursive: "Shrikhand", cursive;

// Fonts weight
$fw-400: 400;
$fw-700: 700;

// Fonts size
$fs-sm: 1.4rem;
$fs-md: 1.6rem;
$fs-lg: 1.8rem;
$fs-xl: 2.4rem;

// Line height
$leading-none: 1;
$leading-tight: 1.25;
$leading-normal: 1.5;
