@use "../abstracts" as *;

.location {
  padding: 1.6rem 0;
  background-color: $color-bg-03;

  &__container {
    @include container;
    @include flex(null, center, center, 1.6rem);
  }

  &__icon {
    @include icon;
  }

  &__city {
    font-weight: $fw-700;
    line-height: $leading-01;
  }
}
