@use "../abstracts" as *;

.menu {
  padding: 5rem 0;
  position: relative;
  z-index: 1;
  margin-top: -4rem;
  background-color: $color-bg-02;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  box-shadow: 0 -10px 15px -3px rgb(0 0 0 / 0.15),
    0 -4px 6px -4px rgb(0 0 0 / 0.15);

  @media screen and (min-width: 672px) {
    margin-top: -14rem;
  }

  &__container {
    @include container;
    @include flex(column, center, null, 4.2rem);
  }

  &__header {
    width: 100%;
    @include flex(null, center, space-between, null);
  }

  &__title {
    font-family: $ff-cursive;
    font-size: $fs-04;
    line-height: $leading-01;
    color: $color-fg-01;
  }

  &__type-list {
    width: 100%;
    @include flex(column, null, null, 4rem);
  }

  &__type {
    @include flex(column, null, null, 2.4rem);

    &-title {
      text-transform: uppercase;
      font-size: $fs-03;
      @include flex(column, null, null, 0.75rem);
      line-height: $leading-01;

      &::after {
        content: "";
        width: 5rem;
        height: 0.4rem;
        background-color: $color-03;
      }
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: 200ms * $i;
      }
    }

    animation: menu-appear 1000ms both;
  }

  &__item {
    @include flex(null, null, space-between, null);
    background-color: $color-bg-01;
    border-radius: 1.6rem;
    box-shadow: $shadow-01;
    overflow: hidden;
    cursor: pointer;

    &-radio {
      display: none;

      &:is(:checked, :hover) ~ .menu__item-check {
        margin-right: 0rem;

        .menu__item-check-icon {
          transform: rotate(360deg);
        }
      }

      &:checked ~ * {
        cursor: not-allowed;
      }
    }

    &-header {
      @include flex(column, null, null, 0.5rem);
      padding: 1.6rem 0 1.6rem 1.6rem;
      width: 100%;
      @include truncate;
    }

    &-title {
      font-weight: $fw-700;
      color: $color-fg-01;
      @include truncate;
    }

    &-desc {
      font-size: $fs-01;
      @include truncate;
    }

    &-price {
      padding: 1.6rem;
      align-self: flex-end;
      line-height: $leading-01;
      font-weight: $fw-700;

      &::after {
        content: "€";
      }
    }

    &-check {
      @include flex(null, center, null, null);
      background-color: $color-03;
      padding: 2rem;
      margin-right: -6.4rem;
      transition: all 500ms ease-in-out;

      &-icon {
        @include icon(2.4rem);
        transform: rotate(0deg);
        fill: $color-fg-03;
        transition: transform 500ms 125ms ease-in-out;
      }
    }
  }
}
