@use "../abstracts" as *;

html {
  font-size: 62.5%;
}

body {
  font-family: $ff-sans;
  font-size: $fs-02;
  font-weight: $fw-400;
  line-height: $leading-03;
  color: $color-fg-02;
  background-color: $color-bg-01;
}

::selection {
  color: $color-01;
  background-color: rgba($color-01, 10%);
}
