@use "../abstracts" as *;

html {
  font-size: 62.5%;
}

body {
  @include text;
  background-color: $color-white;
}

::selection {
  color: $color-amethyst;
  background-color: rgba($color-amethyst, 10%);
}
